.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #363D47;
    color: white;
    font-family: 'Lato', sans-serif;
    height: 50px;
}
.navlist {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.navlist p:hover {
    cursor: pointer;
    color: #E75161;
}
