.container {
    display: flex;
}
.mol_info {
    margin-left: 30px;
    margin-top: 50px;
}
button {
    text-align: center;
    background-color: #E75161;
    border-color: #E75161;
    color: white;
    border-radius: 5px;
    border: 1.5px solid #E75161;
    box-shadow: none;
    height: 30px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
button:hover {
    cursor: pointer;
    border-color: white;
}
.button_div {
    text-align: center;
    margin-top: 20px;
}